---
const {
    data,
    lightColor,
    darkColor,
    classes,
    id,
    ariaHidden
} = Astro.props;
---

<ul class={classes} id={id} aria-hidden={ariaHidden}>
    {
        Object.entries(data).map(([key, value]: [string, any]) => (
            <li astro-key={key}>
                <div class="qualification__calendar">
                    <i class="uil-calendar"></i>
                    <p>{value.studyPeriod || value.employmentPeriod}</p>
                </div>
                <div class="qualification__marker">
                    <span class="qualification__point"></span>
                    <span class="qualification__line"></span>
                </div>
                <div class="qualification__text">
                    <h3>{value.title || value.jobTitle}</h3>
                    <span class="qualification__subtitle">{value.school || value.company}</span>
                    <p class="qualification__summary">{value.description}</p>
                </div>
            </li>
        ))
    }
</ul>

<style define:vars={{ lightColor, darkColor }}>
    li {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        gap: 1.5rem;
    }

    .qualification__calendar {
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    .qualification__point {
        display: inline-block;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background-color: var(--lightColor);
    }

    .qualification__line {
        display: block;
        height: 100%;
        width: 1px;
        background-color: var(--lightColor);
        transform: translate(6px, -7px);
    }

    .qualification__text {
        line-height: 1.2em;
        padding-bottom: 20px;
    }

    h3 {
        color: var(--darkColor);
    }

    .qualification__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-bottom: var(--mar-1);
    }

    .qualification__summary {
        margin-bottom: var(--mar-1);
    }

    .qualification__content {
        display: none;
    }

    .qualification__content.js-qualification__active {
        display: block;
    }
</style>
