---
// layout import
import SectionLayout from "../../layouts/SectionLayout.astro";

// data import
import qualificationData from "../../data/qualificationData";

// component import
import QualificationTimeLine from "./QualificationTimeLine.astro";

const {
    id="qualification",
    sectionTitle="Expérience",
    sectionSubtitle="Mon parcours professionnel",
    hue = 16,
    lightColor = `hsl(${hue}, 100%, 43%)`,
    darkColor = `hsl(${hue}, 100%, 32%)`
} = Astro.props
---

<SectionLayout {id} {sectionTitle} {sectionSubtitle} {darkColor} {lightColor}>
    <div class="container">
        <div class="qualification__buttons">
            <button class="qualification__button js-qualification__active" aria-controls="#education">
                <i class="uil-graduation-cap"></i><span>Etudes</span>
            </button>
            
            <button class="qualification__button" aria-controls="#work">
                <i class="uil-briefcase-alt"></i><span>Travail</span>
            </button>
        </div>

        <div class="qualification__contents">
            <QualificationTimeLine
                data={qualificationData.education}
                classes="qualification__content js-qualification__active"
                id="education"
            />
            <QualificationTimeLine
                data={qualificationData.workExp}
                classes="qualification__content"
                id="work"
                ariaHidden="true"
            />
        </div>
    </div>
</SectionLayout>

<style define:vars={{ lightColor }}>
    .qualification__buttons {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mar-2-5);
    }

    button {
        font-size: var(--h3-font-size);
        background-color: var(--body-color);
    }

    button:hover {
        color: var(--lightColor);
    }

    button.js-qualification__active {
        color: var(--darkColor);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: under;
    }
    
    i {
        font-size: 1.8rem;
        margin-right: var(--mar-0-5);
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px) {
        button {
            text-align: center;
        }
    }

    /* For medium devices */
    @media screen and (min-width: 568px) {
        .qualification__contents {
            display: grid;
            justify-content: center;
        }
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .qualification__buttons {
            justify-content: center;
        }
        .qualification__button {
            margin: 0 var(--mar-1);
        }
    }
</style>

<script src="../../scripts/qualification-tabs.js"></script>
