---
// layout import
import SectionLayout from "../../layouts/SectionLayout.astro";

// data import
import qualificationData from "../../data/qualificationData";

// component import
import QualificationTimeLine from "./QualificationTimeLine.astro";

const {
    sectionTitle="Expérience",
    sectionSubtitle="Mon parcours professionnel",
    hue = 16,
    lightColor = `hsl(${hue}, 100%, 43%)`,
    darkColor = `hsl(${hue}, 100%, 32%)`
} = Astro.props
---

<SectionLayout {sectionTitle} {sectionSubtitle} {darkColor} {lightColor}>
    <div class="container">
        <div class="qualification__tabs">
            <button class="qualification__button js-qualification__active" aria-controls="#education">
                <i class="uil-graduation-cap"></i>
                Etudes
            </button>
            
            <button class="qualification__button" aria-controls="#work">
                <i class="uil-briefcase-alt"></i>
                Travail
            </button>
        </div>

        <div>
            <QualificationTimeLine
                data={qualificationData.education}
                classes="qualification__content js-qualification__active"
                id="education"
            />
            <QualificationTimeLine
                data={qualificationData.workExp}
                classes="qualification__content"
                id="work"
                ariaHidden="true"
            />
        </div>
    </div>
</SectionLayout>

<style define:vars={{ lightColor }}>
    .qualification__tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mar-2-5);
    }

    button {
        font-size: var(--h3-font-size);
        background-color: var(--body-color);
    }
    
    i {
        font-size: 1.8rem;
        margin-right: var(--mar-0-25);
    }
</style>

<script src="../../scripts/qualification-tabs.js"></script>
