---
const allProjects = await Astro.glob("../../content/portfolio/*.md");
---

<!--==================== IMAGES ====================-->
<div>
    {
        allProjects.map((project, i) => (
            <div>
                <input type="radio" name="image" id={"image" + i}>
    
                <div class={"portfolio__image image_" + i}>
                    {
                        (project.frontmatter.images).map((image) => (
                            <img src={image.src} alt={image.alt}>
                        ))
                    }
                </div>
            </div>

            <div class="portfolio__information">
                <label for={"image" + i}>
                    <div class="portfolio__content">
                        <div class="portfolio__header">
                            <h3 class="portfolio__title">{project.frontmatter.title}</h3>
                            <i class="uil-angle-right portfolio__chevron"></i>
                        </div>
                        <div class="portfolio__tags">
                            <span class="portfolio__tag">{project.frontmatter.techs}</span>
                        </div>
                        <p class="portfolio__description">
                            {project.rawContent}
                        </p>
                    </div>
                </label>
            </div>
        ))
    }
</div>
