---
// layout import
import SectionLayout from "../../layouts/SectionLayout.astro";

// component imports
import PortfolioImage from "./PortfolioImage.astro";
import PortfolioContent from "./PortfolioContent.astro";


const {
    id="portfolio",
    sectionTitle="Portfolio",
    sectionSubtitle="Mes réalisations",
    background="bg-colored"
} = Astro.props;

const allProjects = await Astro.glob("../../content/portfolio/*.md");
---

<SectionLayout {id} {sectionTitle} {sectionSubtitle} {background}>
    <div class="portfolio__container container grid">
        <div class="portfolio__images">
            {
                allProjects.map((project, i) => (
                    <PortfolioImage images={project.frontmatter.images} index={i} />
                ))
            }
        </div>
        <div class="portfolio__information">
            {
                allProjects.map((project, i) => (
                    <PortfolioContent
                        title={project.frontmatter.title}
                        techs={project.frontmatter.techs}
                        description={project.rawContent}
                        index={i}
                    />
                ))
            }
        </div>
    </div>
</SectionLayout>

<style>
    /*==================== MEDIA QUERIES ====================*/
    /* For large devices */
    @media screen and (min-width: 768px) {
        .portfolio__container {
            grid-template-columns: 50% 1fr;
        }

        .portfolio__images {
            align-self: center;
        }
    }
</style>

<script src="../../scripts/portfolio-show-hide.js"></script>
