---
// component import
import Blob from "./Blob.astro";
import Link from "../Link.astro";

// data import
import socialNetworksData from "../../data/socialNetworksData";


const { 
    name = "Gaëlle",
    profession = "Développeuse front-end",
    hue = 115,
    lightColor = `hsl(${hue}, 66%, 82%)`,
    darkColor = `hsl(${hue}, 100%, 15%)`,
} = Astro.props;
---

<section class="center">
    <div>
        <div class="home__container container grid">
            
            <div class="home__content grid">
                <ul class="home__social">
                    {
                        socialNetworksData.map(item => (
                            <li class="home__social-link">
                                <Link
                                    href={item.href}
                                    leftIcon={item.icon}
                                    text=""
                                    color={darkColor}
                                    classes="colored"
                                />
                            </li>
                        ))
                    }
                </ul>
                
                <div class="home__img">
                    <Blob {lightColor} />
                </div>
                
                <div>
                    <h1>Bonjour, <br> je suis {name}</h1>
                    <h2>{profession}</h2>
                    
                    <div class="home__button">
                        <Link
                            href="#contact"
                            classes="colored filled button--flex"
                            color={darkColor}
                            bgColor={lightColor}
                            rightIcon="message"
                            text="Me contacter"
                        />
                    </div>
                </div>
            </div>

            <div>
                <Link
                    href="#about"
                    classes="home__scroll-button button--flex primary"
                    leftIcon="mouse"
                    rightIcon="arrow-down"
                    color={darkColor}
                    iconClasses="icon-color"
                    text="Descendre"
                />
            </div>
        </div>

    </div>
</section>

<style define:vars={{ darkColor }}>
    .home__container {
        gap: 1rem;
    }

    .home__social {
        display: flex;
        gap: 1rem;
    }

    h1 {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mar-0-5);
        color: var(--darkColor);

    }

    h2 {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mar-0-75);
    }

    .home__button {
        margin-top: var(--mar-2);
    }

/*==================== ANIMATION ====================*/
    .home__social-link {
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
    }

    .home__social-icon:nth-child(1) {
        animation-delay: 1.25s;
    }

    .home__social-icon:nth-child(2) {
        animation-delay: 1.50s;
    }

    .home__social-icon:nth-child(3) {
        animation-delay: 1.75s;
    }

    h1 {
        animation: textDown 1s ease 0s 1 normal both;
    }

    h2 {
        animation: textDown 1s 0.5s ease-in-out both;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For medium devices */
    @media screen and (min-width: 568px) {
        .home__content {
            grid-template-columns: max-content 1fr 1fr;
            align-items: center;
        }

        .home__img {
            order: 1;
        }
        
        .home__social {
            flex-direction: column;
        }
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .home__container {
            row-gap: 5rem;
        }

        .home__content {
            column-gap: 2rem;
            padding-top: 5.5rem;
        }

        .home__social {
            gap: 1.5rem;
        }

        h1 {
            margin-bottom: var(--mar-1);
        }

        .home__scroll-button {
            margin-left: 3rem;
        }
    }

    /* For extra-large devices */
    @media screen and (min-width: 1024px) {
        .home__social {
            transform: translateX(-6rem);
        }
    }
</style>
