---
// layout import
import SectionLayout from "../../layouts/SectionLayout.astro";

// component imports
import ContactForm from "./ContactForm.astro";
import ContactInfo from "./ContactInfo.astro";

const {
    id="contact",
    sectionTitle="Un projet ?",
    sectionSubtitle="Parlons-en",
    hue = 180,
    darkColor = `hsl(${hue}, 100%, 24%)`,
    lightColor = "#e2f0f0"
} = Astro.props;
---

<SectionLayout {id} {sectionTitle} {sectionSubtitle} {darkColor}>
    <div class="container grid">
        <ContactInfo {darkColor} />
        <ContactForm {darkColor} {lightColor} />
    </div>
</SectionLayout>

<style>
    /*==================== MEDIA QUERIES ====================*/
    /* For medium devices */
    @media screen and (min-width: 568px) {
        div {
            grid-template-columns: 1fr 1fr;
        }   
    }
</style>
