---
// component import
import Link from "./Link.astro";

// data import
import footerData from "../data/footerData";

const { 
    hue = 25,
    bgColor = `hsl(${hue}, 86%, 91%)`
} = Astro.props;
---

<footer>
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h2>Gaëlle</h2>
                <span>Développeuse front-end</span>
            </div>
    
            <ul class="footer__links">
                {
                    footerData.navLinks.map(item => (
                        <li>
                            <Link
                                href={item.href}
                                text={item.title}
                                classes="primary"
                            />    
                        </li>
                    ))
                }
            </ul>
    
            <ul class="footer__socials">
                {
                    footerData.socialNetworks.map(item => (
                        <li>
                            <Link
                                href={item.href}
                                leftIcon={item.icon}
                                text=""
                                classes="primary"
                            />
                        </li>
                    ))
                }
            </ul>
    
            <small class="footer__copy">
                &#169; Gaelle. All right reserved <br>
                Icons by
                <ul>
                    {
                        footerData.iconsSources.map(item => (
                            <li>
                                <Link
                                    href={item.href}
                                    text={item.title}
                                    classes="primary underline"
                                />   
                            </li>
                        ))
                    }
                </ul>
            </small>
        </div>
    </div>   
</footer>

<style define:vars={{ bgColor }}>
    footer {
        background-color: var(--bgColor);
        padding: 2rem 0 3rem;
    }

    .footer__container {
        row-gap: 3.5rem;
    }

    h2 {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mar-0-25);
        line-height: 1;
    }

    span {
        font-size: var(--small-font-size);
    }

    .footer__links {
        display: grid;
        row-gap: 1.5rem;
    }

    .footer__socials {
        display: flex;
        gap: var(--mar-1-5);
    }

    .footer__socials > li {
        font-size: 1.25rem;
    }

    .footer__copy {
        display: block;
        font-size: var(--smaller-font-size);
        text-align: center;
    }

    .footer__copy ul {
        display: flex;
        justify-content: center;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For medium devices */
    @media screen and (min-width: 568px) {

        .footer__container {
            grid-template-columns: 1fr 1fr;
        }

            .footer__socials {
            grid-column: 1 / 2;
        }
        
        .footer__copy {
            grid-column: 1 / 3;
        }
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .footer__bg {
            padding: 1.5rem 0 1rem;
        }

        .footer__container {
            padding: 0 1rem;
            grid-template-columns: repeat(3, 1fr);
        }
        
        .footer__links {
            display: flex;
            gap: 2rem;
        }
        .footer__socials {
            grid-column: 3 / 4;
            justify-self: end;
            margin-right: var(--mar-1-5);
        }
        .footer__copy {
            grid-column: 1 / 4;
        }
    }
</style>
