---
const {
href,
classes,
text,
ariaLabel,
ariaHidden,
leftIcon,
rightIcon,
iconClasses,
...rest
} = Astro.props;
---

<a
    href={href}
    class={classes}
    aria-label={ariaLabel}
    {...rest}
>
{
    leftIcon && (
        <i class={'uil-' + leftIcon + (iconClasses ? ' ' + iconClasses : '')} aria-hidden={ariaHidden}></i>
    )
}
{text}
{
    rightIcon && (
        <i class={'uil-' + rightIcon + (iconClasses ? ' ' + iconClasses : '')} aria-hidden={ariaHidden}></i>
    )
}
</a>


<style>
    a {
        color: var(--text-color);
    }

    i {
        font-size: 1.28em;
    }

    .colored-icon {
        color: var(--secondary-color);
    }

    .colored-icon:is(:hover, :focus) {
        color: var(--text-color);
    }

    .button-primary {
        background: linear-gradient(to right, var(--primary-color-lt) 50%, var(--primary-color) 50%);
        background-size: 202% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        padding: 1em;
        border-radius: .5rem;
    }

    .button-primary:hover,
    .button-primary:focus {
        color: var(--bgColor);
        background-position: left bottom;
    }

    .underline {
        text-decoration: underline;
    }

    .icon-left i {
        margin-left: var(--mar-0-5);
    }

    .block>i::before {
        display: block;
    }

    /*========== classes ==========*/
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        word-break: break-all;
    }

    .js-active-link {
        text-decoration: underline;
    }  

    .home__scroll-button {
        transition: .5s;
    }

    .home__scroll-button:hover {
        transform: translateY(.25rem);
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .home__scroll-button {
            margin-left: 3rem;
        }
    }
    
    /*========== iconClasses ==========*/
    .nav__icon {
        font-size: 1.28em;
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .nav__icon {
            display: none;
        }
    }
    
    .home__scroll-button {
        font-size: var(--small-font-size);
    }

    .home__scroll-button > i:first-child {
        font-size: 1.88em;
    }
</style>
